html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.mb-10 {
    margin-bottom: 10px;
}

.tr-header td {
    border: none !important;
    background-color: #ededed !important;
}

.sortable.list {
    min-height: 35px;
}

.step-labels ul {
    padding: 0;
    list-style-type: none;
}

.step-labels ul li {
    display: inline-block;
    margin-right: 20px;
}

.step-labels ul li.active .label-text {
    color: #00acac;
}

.step h3 {
    text-align: center;
}

.img-circle {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 2px solid #cecece;
    object-fit: cover;
    cursor: pointer;
}

.table.detail-view {
    padding: 4px 15px !important;
}

.panel-select-type a {
    font-size: x-large;
    margin-bottom: 2rem;
}

.panel-upload-passport img {
    max-width: 30%;
}

.check-hint {
    display: flex;
    justify-content: center;
}

.mailing-theme {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.mailing-theme p {
    margin-right: 10px;
}

#ajaxCrudDatatable .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
}

.rotatable {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.contract-doneя {
    position: absolute;
    z-index: 100;
    font-size: 6rem;
    top: 30%;
    opacity: 0.7;
    width: 100%;
    display: flex;
    justify-content: center;
}

.picker__holder {
    overflow: initial !important;
}